

head { background-color: rgb(119, 157, 187); padding: 0%;

}

#ANT {
    margin-top: 20px;
    margin-left: 20px;
      position: fixed;     
      top: 0;
      left: 0;
      width: 250px;
      height: 100px;       
      z-index: 1000;   }
     
body {
      margin: 0;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: Arial, sans-serif;
      perspective: 1000px;
  background: url("sun.jpg") no-repeat center center fixed;
  background-size: cover;
    }
    
  body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
 
    font-family: Arial, sans-serif;
}

.phone {
    width: 320px;
    padding: 25px;
    border-radius: 30px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
    text-align: center;
}

.phone h2 {
    margin-bottom: 30px;
    font-size: 20px;
}

.option-btn {
    width: 80%;
    padding: 15px;
    margin: 10px 0;
    font-size: 18px;
    border-radius: 25px;
    border: 2px solid #000;
    background: none;
    cursor: pointer;
}

.circle-btn {
    margin-top: 30px;
   padding-right: 69px;
    width: 70px;
    height: 60px;
   
    border: 2px solid #000;
    background: none;
    font-size: 24px;
    cursor: pointer;

}


button {width: 180px; height: 50px; 
    margin-right: 15px;
      top: 20px;
      right: 5px;
      padding: 10px 20px;
      border-radius: 8px;
      font-weight: bold;}

#Des1 {
font-family: 'Arial Narrow', Arial, sans-serif;
font-size:larger;
margin: 15px ;
}

.option-btn, .circle-btn {
    transition: 0.3s ease-in-out;
}

.option-btn:hover {
    background-color: #7fd0ff;   
    border-color: #005f99;      
    color: rgb(10, 1, 1);
}

.circle-btn:hover {
    background-color: #7fd0ff;
    border-color: #005f99;
    color: rgb(14, 1, 1);
}

.option-btn:hover, 
.circle-btn:hover {
    box-shadow: 0 0 12px rgba(0, 153, 255, 0.7);
}

.popup-overlay {
    display: none;           
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);  
    z-index: 999;
}

.popup-box {
    background: white;
    padding: 25px;
    border-radius: 20px;
    width: 260px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
    animation: popIn 0.2s ease;
}

@keyframes popIn {
    from { transform: scale(0.8); opacity: 0; }
    to   { transform: scale(1); opacity: 1; }
}

.yes-btn, .no-btn {
    padding: 12px 20px;
    margin: 10px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.yes-btn {
    background: #1fa3ff;
    color: white;
}

.no-btn {
    background: #ccc;
}

.yes-btn:hover {
    background: #0b7fcc;
}

.no-btn:hover {
    background: #a8a8a8;
}
